html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html, body, :root {
  height: 100%;
}

:root {
  display: flex;
  flex-direction: column;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #f2eee6 !important;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Raleway", sans-serif;
}

.home-title {
text-align: center;
}





.whats-app {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 25px;
  text-align: center;
  font-size: 30px;
  right: 30px;
  z-index: 100;
} 

.my-float {
  margin-top: 10px;
}
.w2 {
  width: 50px;
  height: 50px;
}

.section {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background-color: #fff ;
  padding: 2rem;
  margin: 2rem;
  margin-top: 6rem;
  
 

}

.categorias-btn {
 
  height: 135px;

  z-index: 8000;
  background-color: #fff;
  transition: all .5s ease;
}

.eachcat {
  height: 45px;
  overflow: hidden;
  padding: 0;
}

.categorias-btn .eachcat .first-btn {
  background-color: #747f49;
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.65rem;
  color: #fff;
  padding: 100px;
  padding-right: 8.5rem;
  
}

.categorias-btn .eachcat .second-btn {
  background-color: #4a4a49;
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.65rem;
  color: #fff;
  padding-left: 6.4rem;
  padding-right: 6.3rem;
  
}

.categorias-btn .eachcat .third-btn {
  background-color: #bf8b52;
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.65rem;
  color: #fff;
  padding-left: 9.5rem;
  padding-right: 9.5rem;
  
}
