html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


html, body, :root {
  height: 100%;
}

:root {
  display: flex;
  flex-direction: column;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Raleway", sans-serif;
}

.home-title {
text-align: center;
}





.whats-app {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 25px;
  text-align: center;
  font-size: 30px;
  right: 30px;
  z-index: 100;
} 

.my-float {
  margin-top: 10px;
}
.w2 {
  width: 50px;
  height: 50px;
}

